[Interface]
PrivateKey = REPLACE_ME
Address = 10.222.127.1/24,fd11:5ee:bad:c0de::ade:7f01/64
MTU = 1420
ListenPort = 51820
### begin iphone ###
[Peer]
PublicKey = 1NCorK9Fb+/bevC64S12A7+XuitAaLxN/RBUTigUdRo=
PresharedKey = REPLACE_ME
AllowedIPs = 10.222.127.2/32,fd11:5ee:bad:c0de::ade:7f02/128
### end iphone ###
